header{
  height: 50px;
}

h1{
  display: block;
  font-size: 17px;
  font-weight: bold;
}

.field{
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  display: block;
  box-sizing: border-box;
}

.field-nickname, .field-tel, .field-num{
  position: relative;
  width: 100%;
  padding-right: 93px;
  box-sizing: border-box;
}

.field-id, .field-pw{
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

#id, #password, #re-password, #nickname, #tel, #num{
  width: 100%;
  padding: 0px 11px 1px 15px;
  margin-top: 16px;
  display: block;
  height: 48px;
  box-sizing: border-box;
}

#check-num, #check-tel, #check-nickname{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 85px;
  display: block;
  padding: 10px;
  height: 49px;
  font-size: 15px;
  font-weight: 600;
  color: #FEB3B3;
  line-height: 11.72px;
}

#pw-info{
  position: relative;
  width: 100%
  height: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 11.72px;
  margin: 0 auto;
  margin-top: 16px;
  border: none;
  color: #419FF5;
}

#timer{
  margin: 0 auto;
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  top: calc(50% - 9.2px);
  right: 105px;
  font-size: 14px;
  font-weight: 600;
  color: #F44336;
}

#area{
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
  display: block;
  height: 48px;
}

#change{
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
  display: block;
  height: 48px;
  background: #FEB3B3;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
}
