header{
  height: 50px;
}

h1{
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.field{
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  display: block;
  box-sizing: border-box;
}

.field-tel, .field-num{
  position: relative;
  width: 100%;
  padding-right: 93px;
  box-sizing: border-box;
}

#check-tel, #check-num{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 85px;
  display: block;
  padding: 10px;
  height: 49px;
  font-size: 14px;
  font-weight: 600;
  color: #EEB3B3;
  line-height: 11.72px;
}

#tel, #num{
  width: 100%;
  padding: 0px 11px 1px 15px;
  margin-top: 16px;
  display: block;
  height: 48px;
  box-sizing: border-box;
}

#timer{
  margin: 0 auto;
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  top: calc(50% - 9.2px);
  right: 105px;
  font-size: 14px;
  font-weight: 600;
  color: #F44336;
}

#findID{
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
  display: block;
  height: 48px;
  background: #EEB3B3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}
