.field-id, .field-nickname{
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#id, #nickname{
  width: 81%;
  margin: 0 auto;
  margin-top: 16px;
  display: block;
  height: 36px;
}

#check-id, #check-nickname{
  position: absolute;
  top: 4px;
  right: 9.5%;
  display: block;
  padding: 10px;
  height: 30px;
  font-size: 10px;
  line-height: 11.72px;
  background-color: #EEB3B3;
}

#area{
  width: calc(81% + 12px);
  margin: 16px auto;
  display: block;
  height: 38px;
  left: 28px;
  top: 269px;
  padding-left: 10px;
}

#signup{
  width: calc(81% + 12px);
  margin: 0 auto;
  display: block;
  height: 38px;
  left: 28px;
  top: 323px;
}
