.menubtn{
position: absolute;
width: 38px;
height: 38px;
left: 28px;
top: 32px;
}
.loginbtn{
position: absolute;
width: 38px;
height: 38px;
right: 28px;
top: 32px;
}
#map{
position: relative;
width: 81%;
height: auto;
margin: auto;
}
.textmapbtn{
position: relative;
height: 18px;
margin-bottom: 17px;
margin-top: 16px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: -2px;

color: #000000;
}
.map{
  position: relative;
  max-width: 768px;
  height: ;
  background-image: url('https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDEyMDFfMTY4%2FMDAxNjA2NzkzMjMxOTAx.IwCnCZnludpCGqKS1oaR1FWLMbwhleuIVR_Vg3IBci0g.Y09LouToCTDGoFUnOZNvhs6PsFBgmhckZXCNHEB9hP8g.PNG.sshh3160%2Fimage.png&type=sc960_832');
  background-position: center;
  background-repeat: repeat;
}
.moremapbtn{
  position:abolute;
  margin-right: 5px;
}
.textlistbtn{
position: relative;
width: 81%;
height: 18px;
margin: 0 auto;
margin-bottom: 17px;
margin-top: 37px;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -2px;

color: #000000;

}
.list{
  position: absolute;
  width: 304px;
  height: 218px;
  left: 28px;
  top: 497px;
}
.morelistbtn{
  position: absolute;
width: 77.45px;
height: 21px;
left: 250px;
top: 509px;
}
