
.mainbtn{
position: absolute;
width: 151px;
height: 93px;
left: 104px;
top: 26px;
}
.menubtn{
position: absolute;
width: 38px;
height: 38px;
left: 28px;
top: 32px;
}
.loginbtn{
position: absolute;
width: 38px;
height: 38px;
left: 294px;
top: 32px;
}
.textmapbtn{
position: absolute;
width: 140px;
height: 18px;
left: 28px;
top: 181px;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -2px;

color: #000000;
}
.map{
position: absolute;
width: 304px;
height: 256px;
left: 28px;
top: 215px;

border-radius: 15px;
}
.moremapbtn{
  position: absolute;
width: 26px;
height: 26px;
left: 299px;
top: 221px;
}
.textlistbtn{
position: absolute;
width: 157px;
height: 18px;
left: 28px;
top: 508px;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -2px;

color: #000000;

}
.list{
  position: absolute;
  width: 304px;
  height: 218px;
  left: 28px;
  top: 543px;
}
.morelistbtn{
  position: absolute;
width: 77.45px;
height: 21px;
left: 250px;
top: 555px;
}
