.wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.frame{
  width: 81%;
}

.search-div {
  width: 100%;
  margin-bottom: 8px;
  position: relative;
}

#search-input {
  width: 80%;
  margin: 0 auto;
  margin-top: 8px;
  padding-left: 8px;
  display: block;
  height: 36px;
  border-radius: 20px;
}

.glass-img {
  position: absolute;
  top: 6px;
  right: 9.5%;
  display: block;
  padding: 10px;
  height: 20px;
}
