header{
  height: 50px;
  background-color: #FEB3B3;
}

.wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-div {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;
  position: relative;
}

#search-input {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  display: block;
  height: 36px;
  border: 2px solid #AAAAAA;
  border-radius: 4px;
}

.glass-img {
  position: absolute;
  right: 10px;
  display: block;
  padding: 10px;
}

.frame{
  width: 100%;
}
