header{
  height: 50px;
}

h1{
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  display: block;
  box-sizing: border-box;
}

#modify {
  text-align: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  color: #EEB3B3;
  font-weight: 600;
  padding: 10px 0;
  height: 28px;
  cursor: pointer;
  position: absolute;
  right: 5%;
}

#id, #nickname, #residence, #found, #find{
  width: 100%;
  padding: 0px 11px 1px 15px;
  margin-top: 16px;
  display: block;
  height: 48px;
  box-sizing: border-box;
}

#all{
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
  display: block;
  height: 48px;
  background: #EEB3B3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}
