header{
  height: 50px;
}

h1{
  display: block;
  font-size: 20px;
  font-weight: bold;
}

#open_map{
  text-align: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  color: #EEB3B3;
  font-weight: 600;
  padding: 10px 0;
  height: 28px;
  cursor: pointer;
  position: absolute;
  right: 5%;
}

.wrap {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  display: block;
  box-sizing: border-box;
}

.post {
  position: relative;
  width: 100%;
  padding-top: 16px;
  box-sizing: border-box;
}

#category, #local{
  margin-top: 0;
  font-size: 12px;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

#title {
  margin-top: 0;
  font-size: 16px;
  border: none;
  padding: 0;
  font-weight: 600;
  box-sizing: border-box;
}

#content {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 273px;
  padding-top:10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  resize: none;
}

#pic {
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 300px;
  padding: 0;
  border: 1px solid #000000;
  box-sizing: border-box;
}

#go_list{

  display: block;
  background-color: #FEB3B3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  width: 80px;
  height: 36px;
  margin: 16px auto;
}
