body{
  position: relative;
  margin: auto;
}
header{
  display: flex;
  margin-top: 26px;
  width: calc(81% + 12px)
}
.bmr-back{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 28px;
  top: 32px;
}
.bmr-headline{
  width: calc(81% + 12px);
}
.big_box{
  position:relative;
  left: 28px;
  width: calc(81% + 12px);
  min-height: 285px;

  display: block;
  text-align: center;

}
.box{
  margin-top: 16px;
}
.bmr-text{
  /*width: calc(81% + 12px);*/
  width: 292px;
  height: 36px;
}
#timer{
  margin-top: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF0000;
  margin-right: 230px;
}

.bmr-btn{
  /*width: calc(81% + 12px);*/
  width: 304px;
  height: 38px;
}
#small-btn{
  /*width: calc(40.5% + 12px);*/
  width: 170px;
  margin-left: 132px;
}
