body{
  width: 360px;
  height: 640px;
  margin: 0px;
}

.top{
  padding-top: 24px;
  width: 360px;
  height: 93px;
}

.back-btn{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 28px;
  top: 32px;
  cursor: pointer;
}

.boomerang{
  position: absolute;
  width: 151px;
  height: 93px;
  left: 104px;
  top: 26px;
}

.text{
  position: absolute;
  width: 60.8px;
  height: 20px;
  left: 30.34px;
  top: 125px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

hr{
  width: 304px;
  left: 28px;
  top: 145px;
  border: 1px solid rgba(0, 0, 0, 0.37);
}

.info{
  padding-top: 16px;
  width: 360px;
  height: 200px;
}

.textstyle{
  position: absolute;
  height: 38px;
  left: 28px;
  width: 304px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 0px;
  border: 1px solid black;
}

.bmr-btn{
  text-align: center;
  padding-top: 10px;
  position: absolute;
  cursor: pointer;

  height: 30px;
  background: #FFFFFF;
  border: 1px solid #EEB3B3;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;"
  padding: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 7.5px;
}
