.field-id{
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#id{
  width: 81%;
  margin: 0 auto;
  margin-top: 16px;
  display: block;
  height: 36px;
}

#check-id{
  position: absolute;
  top: 4px;
  right: 9.5%;
  display: block;
  padding: 10px;
  height: 30px;
  font-size: 10px;
  line-height: 11.72px;
}

.field-pw{
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#password{
  width: 81%;
  margin: 0 auto;
  margin-top: 16px;
  display: block;
  height: 36px;
}

#pw-info{
  position: relative;
  width: 81%
  height: 22px;
  left: calc(9.5% - 6px);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11.72px;
  margin: 0 auto;
  margin-top: 8px;
  border: none;
  color: #419FF5;"
}

.field-nickname{
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#nickname{
  width: 81%;
  margin: 0 auto;
  margin-top: 16px;
  display: block;
  height: 36px;
}

#check-nickname{
  position: absolute;
  top: 4px;
  right: 9.5%;
  display: block;
  padding: 10px;
  height: 30px;
  font-size: 10px;
  line-height: 11.72px;
}

#area{
  width: calc(81% + 12px);
  margin: 16px auto;
  display: block;
  height: 38px;
  left: 28px;
  top: 269px;
  padding-left: 10px;
}

#signup{
  width: calc(81% + 12px);
  margin: 0 auto;
  display: block;
  height: 38px;
  left: 28px;
  top: 323px;
}
