body{
  margin: 0;
}

.bmr-headline{
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #CCCCCC;
}

.bmr-slc{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 0 10px;
  border-color: #CCCCCC;
}

.bmr-btn{
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #FEB3B3;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 7.5px;
}

.bmr-text-dark{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding-left: 10px;
}

.bmr-text-light{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 0;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding-left: 10px;
}

.div-logo{
  position: relative;
  padding-top: 26px;
  overflow:hidden;
}

.bmr-logo{
  cursor: pointer;
  position: relative;
  margin:0 auto;
  display: block;
}

.bmr-back{
  cursor: pointer;
  position: absolute;
  left: 18px;
}

.top{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('이미지/선택.svg') no-repeat 98% 50% #fff;
}
select::-ms-expand{
  display:none;
}

input::placeholder, textarea::placeholder{
  color: #CCCCCC;
}

@media screen and (min-width: 768px) {
  .bmr-headline{
    font-size: 15px;
  }
}
