header{
  height: 50px;
}

h1{
  display: block;
  font-size: 17px;
  font-weight: bold;
}

#write{
  text-align: center;
  border: none;
  font-size: 15px;
  color: #CCCCCC;
  font-weight: 600;
  padding: 10px 0;
  height: 28px;
  cursor: default;
  position: absolute;
  right: 18px;
}

#contents{
  padding-top: 16px;
  margin: 0 auto;
  width: 90%;
  display: block;
  box-sizing: border-box;
}

#found{
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
}

#category{
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
}

#title{
  display: block;
  width: 100%;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 16px;
  box-sizing: border-box;
}

#textbox{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 273px;
  padding-top:10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  resize: none;
}

div.upload{
  width: 100%;
  margin-bottom: 16px;
}

#uploadmap{
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  width: 116px;
  height: 48px;
  background: #FEB3B3;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
}

#uploadpic{
  margin-top: 60px;
  cursor: pointer;
  padding: 10px 0;
  width: 116px;
  height: 48px;
  background: #FEB3B3;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
