div#layout-top{
  width: 360px;
  height: 76px;
}
#contents{
  top: 76px;
  width: 360px;
  height: 553px;
}

#category{
  width: 306px;
  height: 38px;
  position: absolute;
  left: 28px;
  top: 76px;
}

#title{
  width: 294px;
  height: 36px;
  position: absolute;
  left: 28px;
  top: 130px;
}

#textbox{
  width: 294px;
  height: 273px;
  position: absolute;
  left: 28px;
  top: 184px;
  padding-top:10px;
}

#uploadmap{
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  width: 116px;
  height: 28px;
  left: 28px;
  top: 483px;
}

#uploadpic{
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  width: 116px;
  height: 28px;
  left: 28px;
  top: 587px;
}

#write{
  text-align: center;
  padding-top: 10px;
  position: absolute;
  height: 28px;
  width: 116px;
  right: 28px;
  top: 32px;
  cursor: pointer
}
