div#layout-top{
  height: 106px;
}

.logo{
  margin: 0 104px;
  padding-top: 32px;
  padding-bottom: 11px;
  text-align: center;
}

h1{
  display: block;
  font-size: 20px;
  font-weight: bold;
}

#contents{
  margin: 0 auto;
  width: 90%;
  display: block;
  box-sizing: border-box;
}

#category{
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
}

#title{
  display: block;
  width: 100%;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 16px;
  box-sizing: border-box;
}

#textbox{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 273px;
  padding-top:10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  resize: none;
}

div.upload{
  width: 100%;
  margin-bottom: 16px;
}

#uploadmap{
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  width: 116px;
  height: 48px;
  background: #EEB3B3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
}

#uploadpic{
  margin-top: 60px;
  cursor: pointer;
  padding: 10px 0;
  width: 116px;
  height: 48px;
  background: #EEB3B3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

#write{
  text-align: center;
  border: none;
  font-size: 16px;
  color: #EEB3B3;
  font-weight: 600;
  padding: 10px 0;
  height: 28px;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 5%;
}
